.project__view {
  width: 75%;
  margin: 100px auto;
  color: #363636;
}

.back__button {
  font-size: 16px;
  font-weight: bold;
  color: #363636;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.project__heading {
  margin-top: 38px;
  display: flex;
  justify-content: space-between;
}

.project__title {
  font-size: 34px;
}

.project__buttons {
  display: flex;
}

.project__buttons div {
  font-size: 16px;
  font-weight: bold;
  height: 50px;
  width: 122px;
  border: 1px solid lightgray;
  cursor: pointer;
  margin-left: 18px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.project__image {
  display: block;
  max-height: 200px;
  max-width: 80%;
  margin-top: 12px;
}

.container {
  display: flex;
  margin-top: 80px;
}

.general__details {
  display: flex;
  flex-direction: column;
  min-width: 40%;
}

.details {
  font-size: 17px;
}

.detail {
  margin-top: 40px;
}

.detail__row {
  margin-bottom: 17px;
}

.detail__title {
  font-size: 17px;
  font-weight: bold;
}

.description__title {
  font-size: 17px;
  font-weight: bold;
}

.detail__row span {
  font-weight: bold;
  display: inline-block;
  width: 155px;
}

.Modal {
  position: absolute;
  top: 10%;
  left: 0;
  right: 0;
  bottom: 10%;
  margin: 0 auto;
  background-color: #fff;
  outline: none;
  border-radius: 4px;
  padding: 45px 40px;
  color: #363636;
  width: 1220px;
  overflow: auto;
}

.members__view {
  margin-right: 8px;
  color: #337ab7;
  cursor: pointer;
}

.technologies__view {
  margin-right: 8px;
}

@media (max-width: 1250px) {
  .Modal {
    width: 85%;
  }
}

@media (max-width: 1000px) {
  .Modal {
    width: 95%;
    padding: 25px 20px;
  }
}

@media (max-width: 800px) {
  .container {
    flex-direction: column;
  }

  .project__view {
    width: 90%;
    margin: 50px auto;
  }

  .project__buttons {
    flex-direction: column;
  }

  .project__buttons div {
    height: 40px;
    width: 100px;
    margin-top: 5px;
  }

  .project__image {
    margin: 10px auto;
  }

  .description__title {
    margin-top: 40px;
  }
}
