:root {
  --border: 2px solid rgb(220, 220, 220);
  --color: rgb(54, 54, 54);
  --letter-spacing: 0.4px;
}

* {
  box-sizing: border-box;
}

.element--hover:hover {
  cursor: pointer;
}

.row {
  text-align: left;
  border-bottom: var(--border);
  height: 45px;
  line-height: 10px;
  letter-spacing: var(--letter-spacing);
  composes: element--hover;
}

.row__name {
  width: 40%;
  composes: row;
}

.row__website {
  width: 30%;
  composes: row;
  overflow: hidden;
}

.row__industry {
  width: 30%;
  composes: row;
}
