.modal__title {
  font-size: 34px;
  margin-bottom: 80px;
}

.modal__close {
  position: absolute;
  right: 0;
  top: 5px;
  cursor: pointer;
}

.section {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.section2 {
  display: flex;
  width: 65%;
  justify-content: space-between;
}

.cell {
  width: 46%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cell1 {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cell2 {
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.verticalLine {
  margin-top: 20px;
  width: 2px;
  background: lightgray;
}

.input__section {
  display: flex;
  flex-direction: column;
  min-height: 95px;
}

.label {
  font-size: 17px;
  font-weight: bold;
  margin-top: 20px;
}

.input {
  font-size: 17px;
  color: #363636;
  background-color: #eee;
  padding: 15px 10px;
  border: none;
  margin-top: 5px;
  border: 1px solid lightgray;
}

.input__group {
  display: flex;
  justify-content: space-between;
}

.input__group .input {
  font-size: 14px;
  font-weight: bold;
}

.checkbox__label {
  font-size: 17px;
  margin-top: 16px;
  display: flex;
  align-items: center;
}

.input__section .input__checkbox {
  visibility: hidden;
  position: absolute;
}

.squire {
  height: 25px;
  width: 25px;
  border: 2px solid lightgray;
  display: inline-block;
  margin: 0 7px 0 0;
}

.input__checkbox:checked + .squire {
  background: url('../../assets/done.svg');
}

.input__group .input__section {
  width: 48%;
}

.form__dvider {
  width: 100%;
  height: 45px;
  margin-top: 50px;
  padding-left: 12px;
  color: #fff;
  background-color: #363636;
  font-size: 24px;
  line-height: 45px;
}

.input__section .textarea {
  height: 148px;
  background-color: #eee;
  margin-top: 5px;
  padding: 12px 9px;
  resize: none;
  font-size: 17px;
  color: #363636;
  border: 1px solid lightgray;
}

.table__header {
  margin-top: 20px;
  width: 100%;
  border-bottom: 1px solid lightgray;
  display: flex;
  justify-content: space-between;
}

.table__title {
  font-size: 16px;
  font-weight: bold;
  height: 45px;
  width: 275px;
  line-height: 45px;
}

.form__icon {
  float: right;
  margin: 9.5px 0;
  cursor: pointer;
}

.table__item {
  font-size: 16px;
  font-weight: normal;
  line-height: 43px;
  border-bottom: 1px solid lightgray;
}

.selected__tech__container {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
}

.selected__tech {
  margin-left: 5px;
  font-size: 17px;
  line-height: 35px;
  padding: 0 8px;
  border: none;
  background-color: lightgray;
}

.remove__tech {
  position: relative;
  margin-left: 24px;
  cursor: pointer;
}

.form__button {
  margin-top: 58px;
  display: flex;
  flex-direction: row-reverse;
  font-size: 16px;
}

.form__button__sava {
  padding: 20px 32px;
  border: 1px solid lightgray;
  cursor: pointer;
  font-weight: bold;
}

.form__button__close {
  padding: 20px 32px;
  cursor: pointer;
}

.news__url {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.news__url .input__section {
  min-height: unset;
  width: 46%;
}

.news__url .label {
  display: none;
}

.news__url .input {
  margin-top: 0;
  padding: 7.5px 10px;
}

.news__url__button {
  display: flex;
  align-items: center;
  font-size: 17px;
  font-weight: bold;
  width: 60px;
  justify-content: space-between;
  cursor: pointer;
  background: white;
  border: none;
}

.helper {
  color: red;
}

.select {
  --styled-select__background-color: #eee;
  --styled-select__border-color: lightgray;
  --styled-select-placeholder__padding: 7px 10px;
  --styled-select-input__padding: 8px;
  margin-top: 4px;
}

.select__value {
  display: none !important;
}

.select__input {
  min-height: 44px;
}

.Modal {
  position: absolute;
  top: 10%;
  left: 0;
  right: 0;
  bottom: 10%;
  font-family: Calibri, sans-serif;
  margin: 0 auto;
  background-color: #fff;
  outline: none;
  border-radius: 4px;
  padding: 45px 40px;
  color: #363636;
  width: 1220px;
  overflow: auto;
}

@media (max-width: 1250px) {
  .Modal {
    width: 85%;
  }
}

@media (max-width: 1050px) {
  .cell1 {
    width: 35%;
  }

  .cell2 {
    width: 60%;
  }

  .input__section .input {
    padding: 12px 8px;
  }

  .input__group .input {
    padding: 12px 0 12px 4px;
  }

  .Modal {
    width: 95%;
    padding: 25px 20px;
  }
}

@media (max-width: 800px) {
  .modal__title {
    margin-bottom: 20px;
  }

  .verticalLine {
    display: none;
  }

  .section {
    flex-direction: column;
    align-items: center;
  }

  .cell,
  .cell1,
  .cell2 {
    width: 100%;
    margin: 0 auto;
  }

  .form__dvider {
    width: 100%;
    margin: 50px auto 0;
  }

  .table__header,
  .table__item,
  .selected__tech__containerech {
    width: 100%;
    margin: 0 auto;
  }

  .inputGroup .input {
    padding: 12px 0px 12px 8px;
  }

  .news__url {
    flex-direction: column;
  }

  .news__url .input__section {
    width: 100%;
    margin-top: 8px;
  }
}
