.projectsApp {
  width: 100%;
  background-image: url('../../assets/rekrykuva10_digia.jpg');
  background-size: cover;
  background-position: center;
  flex: 1;
}

.contanier {
  width: 1460px;
  margin: 0 auto;
  padding: 86px 0;
}

.heading {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.headingTitle {
  color: #fff;
  font-size: 72px;
  line-height: 62px;
}

.headingButton {
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 16px;
  max-height: 50px;
  padding: 20px 30px;
  border: 1px solid white;
  cursor: pointer;
}

.headingButton img {
  padding-right: 5px;
}

.headingDetails {
  min-width: 100%;
  color: #fff;
  font-size: 30px;
  margin: 20px 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.headingDetails span {
  font-size: 30px;
}

.headingDetails b {
  font-size: 40px;
  padding: 0 8px;
}

.filters {
  position: relative;
  display: flex;
  margin-top: 40px;
}

.filter {
  display: flex;
  flex-direction: column;
  margin-right: 61px;
  width: 446px;
  color: #fff;
  font-size: 17px;
}

.filter select {
  height: 45px;
}

.projects {
  position: relative;
  column-count: 3;
  column-gap: 60px;
  margin: 20px 0;
  color: #363636;
}

.project {
  width: 446px;
  background-color: #fff;
  margin-bottom: 25px;
  display: inline-block;
  box-shadow: 1px 1px #e2e2e2;
}

.projectDetails {
  padding: 65px;
}

.projectName {
  font-size: 34px;
  line-height: 28px;
  color: #c30000;
  text-transform: capitalize;
  padding-bottom: 20px;
  display: block;
  text-decoration: none;
}

.projectView {
  font-size: 16;
  font-weight: bold;
  color: #000;
  line-height: 1.2;
  padding-bottom: 24px;
}

.projectView a {
  color: #14688f;
  font-size: 17px;
  font-weight: normal;
  text-decoration: none;
  padding: 0 4px;
}

.projectDesciption {
  font-size: 17px;
  line-height: 1.29;
  padding-bottom: 20px;
}

.technologies {
  display: flex;
  flex-wrap: wrap;
}

.technologies span {
  background: #363636;
  color: white;
  font-size: 17px;
  padding: 0 11px;
  height: 40px;
  line-height: 40px;
  margin: 0 0 4px 4px;
}

.no__project {
  position: relative;
  text-align: center;
  color: white;
  font-size: 28px;
  font-weight: 800;
  margin-top: 40px;
}

.filters__select {
  color: black;
}

.project__picture {
  max-width: 100.3%;
}

@media (max-width: 1550px) {
  .contanier {
    width: 1150px;
  }

  .projects {
    column-gap: 35px;
  }

  .filter {
    width: 360px;
    margin-right: 35px;
  }

  .project {
    width: 360px;
  }

  .projectDetails {
    padding: 60px;
  }
}

@media (max-width: 1250px) {
  .contanier {
    width: 900px;
  }

  .projects {
    column-gap: 25px;
  }

  .filter {
    width: 275px;
    margin-right: 25px;
  }

  .project {
    width: 275px;
  }

  .projectDetails {
    padding: 40px 45px;
  }
}

@media (max-width: 1000px) {
  .contanier {
    width: 640px;
  }

  .projects {
    column-count: 2;
    column-gap: 30px;
  }

  .filters {
    justify-content: space-between;
    width: 100%;
  }

  .filter {
    width: 300px;
    margin-right: unset;
  }

  .project {
    width: 300px;
  }

  .projectDetails {
    padding: 40px 45px;
  }
}

@media (max-width: 750px) {
  .contanier {
    width: 80%;
  }

  .heading {
    flex-direction: column;
    min-height: 250px;
    align-items: flex-start;
  }

  .headingButton {
    order: 1;
  }

  .filters {
    flex-direction: column;
  }

  .filter {
    width: 100%;
  }

  .projects {
    column-count: unset;
    column-gap: unset;
    display: flex;
    flex-direction: column;
  }

  .project {
    width: 100%;
  }
}
