/* all the code is copied from other components
  but yes, I will refactor it later !
 */

:root {
  --border: 2px solid rgb(220, 220, 220);
  --color: rgb(54, 54, 54);
  --letter-spacing: 0.4px;
}

* {
  box-sizing: border-box;
}

.element--hover:hover {
  cursor: pointer;
}

.container {
  margin: 85px 18% auto;
  font-family: Calibri, sans-serif;
  font-weight: normal;
  letter-spacing: normal;
  font-stretch: normal;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header__headline {
  font-size: 34px;
  width: 144px;
  height: 20px;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  font-weight: normal;
}

.header__button {
  border: var(--border);
  background-color: inherit;
  width: 202px;
  height: 50px;
  letter-spacing: var(--letter-spacing);
  color: var(--color);
  font-weight: bold;
  padding: 15px 30px;
  text-align: left;
  font-size: 16px;
  composes: element--hover;
}

.button__plusIcon {
  width: 21px;
  height: 21px;
}

.container__table {
  margin: 7% 0 auto;
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}
