* {
  box-sizing: border-box;
}

.element--hover:hover {
  cursor: pointer;
}

.container__table {
  margin: 7% 0 auto;
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

.row {
  padding-right: 10px;
  text-align: left;
  border-bottom: var(--border);
  height: 45px;
  line-height: 10px;
  letter-spacing: var(--letter-spacing);
  composes: element--hover;
  overflow: hidden;
  white-space: nowrap;
}

.row__name {
  width: 40%;
  composes: row;
}

.row__website {
  width: 30%;
  composes: row;
}

.row__industry {
  width: 30%;
  composes: row;
}
