/* variables */
:root {
  --blurred-border: 2px solid rgb(220, 220, 220);
}

/* general style */
* {
  box-sizing: border-box;
  font-family: Calibri, sans-serif;
  font-size: 17px;
}

/* composable style */
.wrapper_component-button {
  width: 122px;
  height: 50px;
  background-color: inherit;
  font-weight: bold;
  display: inline-flex;
  font-size: 16px;
  margin: auto auto 20px;
  font-family: Calibri, sans-serif;
}

.element--hover:hover {
  cursor: pointer;
}

.container {
  max-width: 1120px;
  margin: 20px 20% auto;
}

.container__backButton {
  composes: wrapper_component-button;
  border: 0 solid rgba(255, 255, 255, 0);
  padding: 15px 0;
  text-decoration: none;
  text-align: left;
  display: inline-flex;
  width: 100px;
}

.container__customer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap-reverse;
}

.customer__buttons {
  display: flex;
  flex-wrap: wrap;
  align-content: start;
}

.customer__logo {
  margin-bottom: 40px;
  max-width: 200px;
  max-height: 200px;
}

.customer__name {
  font-size: 34px;
  margin: 0 auto 80px;
  font-weight: normal;
}

.customer__rows {
  display: flex;
  flex-direction: column;
}

.column__row {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 30px;
}

.row__tag {
  font-weight: bold;
  margin-right: 40px;
}

.buttonsGroup__button {
  composes: wrapper_component-button;
  composes: element--hover;
  padding: 20px auto;
  justify-content: center;
  align-items: center;
  margin: 0 0 30px 30px;
  border: var(--blurred-border);
}

@media (max-width: 963px) {
  .buttonsGroup__button {
    margin: 0 30px 30px 0;
  }
}
